:root {
  /* Primary Colours */
  --brightRed: hsl(12, 88%, 59%);
  --darkBlue: hsl(228, 39%, 23%);
  /* Neutral Colour */
  --darkGrayBlue: hsl(227, 12%, 61%);
  --veryDarkBlue: hsl(233, 12%, 13%);
  --veryPaleRed: hsl(13, 100%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
}

.HeroBtn {
  background: var(--brightRed);
  color: var(--veryPaleRed);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.HeroBtnWhite {
  background: var(--veryPaleRed);
  color: var(--brightRed);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.darkBlue {
  color: var(--darkBlue);
}

.greyFont {
  color: var(--darkGrayBlue);
}

.brightRed {
  background-color: var(--brightRed);
}

.greyBackground {
  background-color: var(--veryLightGray);
}
